

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    overflow: hidden;
    background-color: #313636;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  svg {
    margin-bottom: 80px;
  }
  
  .btn {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .text {
    user-select: none;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
  }
  
  .subCircle {
    pointer-events: none;
  }
  
  .strokeW {
    animation: strokeW .6s forwards;
    @keyframes strokeW {
      to {
        stroke-width: 1.16;
      }
    }
  }